<app-header></app-header>
<h1 class="ribbon"> BEDS </h1>
<section class="sec">
    <div class="products">
        <!---cards starts-->
        <!-- <div class="card" *ngFor="let item of productList">
            <div class="img"><img src="{{item.image}} "alt=""></div>
           <div class="price">{{item.price}}</div>
            <div class="box">
                
               <a routerLink="/" class="btn">Buy Now</a>

               <a routerLink="/cart" class="btn">Add cart</a>
            </div>
        </div> -->
        <!-- -cards ends-->
        <!---cards starts-->
        <div class="card">
          <div class="img"><img src="/assets/images/bed1.jpg" alt=""></div>
          <div class="price">₹15,000 </div>
          <div class="box">
              
            <a routerLink="/payment" class="btn">Buy Now</a>

            <a routerLink="/cart" class="btn">Add cart</a>
          </div>
      </div>
      <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/2021-11-10-15-24-34.jpg" alt=""></div>
            <div class="price">₹25,000 </div>
            <div class="box">
                
              <a routerLink="/payment" class="btn">Buy Now</a>

              <a routerLink="/cart" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/Bunk-Bed-Design-1.jpg" alt=""></div>
            <div class="price">₹55,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/data_single-beds-mdf_bartha-single-bed-with-box-storage_flowery-wenge_front-574x396.jpg" alt=""></div>
            <div class="price">₹15,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/Ideas-and-Inspiration-for-Round-bed-Designs.jpg" alt=""></div>
            <div class="price">₹35,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/luxury-bedroom-light-colors-golden-furniture-details-big-comfortable-double-royal-bed-elegant-classic-interior-91336064.jpg" alt=""></div>
            <div class="price">₹30,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends -->
    </div>
</section>
<app-footer></app-footer>


