<section class="footer">

  <div class="box-container">
    <div class="box">
      <h3><img src="/assets/images/sofa.png">   
          <span> MueblesPick</span>
      </h3>
      <p></p>
          <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-instagram"></a>
              <a href="#" class="fab fa-linkedin"></a>
          </div>
      </div>

      <div class="box1">
          <h3>Contact info</h3>
          <a href="#" class="links"> <i class="fas fa-phone"></i> +91 989422369 </a>
          <a href="#" class="links"> <i class="fas fa-phone"></i>  +91 8876453289 </a>
          <a href="#" class="links"> <i class="fas fa-envelope"></i> _mueblespick@gmail.com </a>
          <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i>  Tamil Nadu, india - 6000002</a>
      </div>

      <div class="box1">
          <h3>Quick links</h3>
          <a href="/home" class="links"> <i class="fas fa-arrow-right"></i> Home </a>
          <a href="/home" class="links"> <i class="fas fa-arrow-right"></i> Features </a>
          <a href="/products" class="links"> <i class="fas fa-arrow-right"></i> Products </a>
          <a href="/categories" class="links"> <i class="fas fa-arrow-right"></i> Categories </a>
      </div>

      <div class="box3">
          <h3>Newsletter</h3>
          <p>subscribe for latest updates</p>
          <input type="email" placeholder="your email" class="email">
          <input type="submit" value="subscribe" class="btn">
          <img src="/Images\payment.png" class="payment-img" alt="">
      </div>

  </div>

  

</section>
