<h1 class="ribbon"> BED<span>ROOM</span> </h1>
<section class="sec">
    <div class="products">
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/91TnflCRJmL._SL1500_.jpg" alt=""></div>
            <div class="price">₹25,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/luxury-bedroom-light-colors-golden-furniture-details-big-comfortable-double-royal-bed-elegant-classic-interior-91336064.jpg" alt=""></div>
            <div class="price">₹30,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/1f0a3829638becefa149c2ccaa39f5ab.jpg" alt=""></div>
            <div class="price">₹15,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/walk-in-closet-ideas-1641937507.jpg" alt=""></div>
            <div class="price">₹5,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/home-design.jpg" alt=""></div>
            <div class="price">₹35,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/Bunk-Bed-Design-1.jpg" alt=""></div>
             <div class="price">₹10,000 </div>
            <div class="box">
               
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
    </div>
</section>
<app-header></app-header>
<app-footer></app-footer>
