<section class="categories" id="categories">

  <h1 class="ribbon"> Product <span>Categories</span> </h1>

  <div class="box-container">

      <div class="box">
          <img src="/assets/images/pexels-vecislavas-popa-1643383.jpg" alt="">
          <h3>Living Room</h3>
          <p>Sink into comfort</p>
          <a href="/lr" class="btn">View</a>
      </div>

      <div class="box">
          <img src="/assets/images/pexels-level-media-3016430.jpg" alt="">
          <h3>Kitchen</h3>
          <p>Live life with a little spice</p>
          <a href="/kitchen" class="btn">View</a>
      </div>

      <div class="box">
          <img src="/assets/images/pexels-pixabay-164595.jpg" alt="">
          <h3>Bed Room</h3>
          <p>sweet dreams</p>
          <a href="/bedroom" class="btn">View</a>
      </div>

      

  </div>

</section>
<app-header></app-header>
<app-footer></app-footer>
