<h1 class="ribbon"> DRESSERS </h1>
<section class="sec">
    <div class="products">
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/3fa68fcaf68b771609af7cb5ff01ff2b.jpg" alt=""></div>
            <div class="price">₹5,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/7d345c30cef4219d12a24b4e00a85263.jpg" alt=""></div>
            <div class="price">₹55,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/516vlmqdF8S._SX425_.jpg" alt=""></div>
             <div class="price">₹65,000 </div>
            <div class="box">
               
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/DressingTableSmokedWhiteDressingTable-2_large.progressive.jpg" alt=""></div>
            <div class="price">₹6,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/pexels-max-vakhtbovych-6301178.jpg" alt=""></div>
            <div class="price">₹8,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/wooden-dressing-table-500x500.jpg" alt=""></div>
            <div class="price">₹35,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
    </div>
</section>
<app-header></app-header>
<app-footer></app-footer>