<app-header></app-header>
<h1 class="ribbon"> CUPBOARDS </h1>
<section class="sec">
    <div class="products">
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/1f0a3829638becefa149c2ccaa39f5ab.jpg" alt=""></div>
            <div class="price">₹25,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/95dacc287061c8a0a9e9e69614ac713d.jpg" alt=""></div>
            <div class="price">₹15,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/1476770362_open-walk-in-wardrobe-4-large.jpg" alt=""></div>
            <div class="price">₹45,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/d465e017942735de99feeeeb686e327f.jpg" alt=""></div>
            <div class="price">₹35,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/home-design.jpg" alt=""></div>
             <div class="price">₹65,000 </div>
            <div class="box">
               
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/-original-imagczrgqwgv3rqy.jpg" alt=""></div>
            <div class="price">₹55,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
    </div>
</section>
<app-footer></app-footer>


