<app-header></app-header>
<h1 class="ribbon"> TAB<span>LES</span> </h1>
<section class="sec">
    <div class="products">
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/719ykT+bOTL._AC_UL320_.jpg" alt=""></div>
            <div class="price">₹25,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/best-office-table-designs-500x500.jpg" alt=""></div>
            <div class="price">₹15,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/dining_landing_img1.jpg" alt=""></div>
            <div class="price">₹45,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/f840603594641d0f086a2c48a2080173.jpg" alt=""></div>
            <div class="price">₹35,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/71n1gtSSL1L._SX425_.jpg" alt=""></div>
             <div class="price">₹65,000 </div>
            <div class="box">
               
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/best-office-table-designs-500x500.jpg" alt=""></div>
            <div class="price">₹55,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
    </div>
</section>
