<section class="products" id="products">

  <h1 class="ribbon"> Our <span>Products</span> </h1>

  <div class="box-container">

     

          <div class="box">
              <img src="/assets/images/33-modern-beds-that-would-completely-change-your-new-bedroom-0-1249837590.jpg" alt="">
              <h3>Beds</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a routerLink="/beds" class="btn">Shop now</a>
          </div>

         

          <div class="box">
              <img src="/assets/images/A1.jpg" alt="">
              <h3>Tables</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/tables" class="btn">Shop now</a>
          </div>

          <div class="box">
              <img src="/assets/images/pexels-alexander-zvir-3705539.jpg" alt="">
              <h3>Chairs</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/chairs" class="btn">Shop now</a>
          </div>

    



  

          <div class="box">
              <img src="/assets/images/pexels-pixabay-276566.jpg" alt="">
              <h3>Sofas</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/sofas" class="btn">Shop now</a>
          </div>

          <div class="box">
              <img src="/assets/images/wardrobe-design_1627381006029.jpg" alt="">
              <h3>Cupboards</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/cupboards" class="btn">Shop now</a>
          </div>

          <div class="box">
              <img src="/assets/images/180lyf_900x.jpg" alt="">
              <h3>Dressing Tables</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/dressers" class="btn">Shop now</a>
          </div>

          

      

  </div>


</section>
<app-header></app-header>
<app-footer></app-footer>
