<h1 class="ribbon"> CHAIRS </h1>
<section class="sec">
    <div class="products">
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/1580746458-resize.jpg" alt=""></div>
            <div class="price">₹20,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/800_Latest_Chairs_Design_Stylish_Chairs_Design_For_Living_Room_Bedroom_In_2022-9.jpg" alt=""></div>
           <div class="price">₹15,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/trendz-chairs-kodungaiyur-chennai-chair-dealers-n7m5tlb6xt.webp" alt=""></div>
            <div class="price">₹10,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/61d6nuuO2dL._SY550_.jpg" alt=""></div>
            <div class="price">₹5,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/5148b0658VL.jpg" alt=""></div>
             <div class="price">₹30,000 </div>
            <div class="box">
               
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
        <!---cards starts-->
        <div class="card">
            <div class="img"><img src="/assets/images/images.jpg" alt=""></div>
            <div class="price">₹35,000 </div>
            <div class="box">
                
              <a routerLink="/" class="btn">Buy Now</a>

              <a routerLink="/" class="btn">Add cart</a>
            </div>
        </div>
        <!---cards ends-->
    </div>
</section>
<app-header></app-header>
<app-footer></app-footer>