<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>SignUp</h1>
        </div>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Full Name</label>
              <input formControlName="name" type="text" class="form-control" id="exampleInputPassword1">
              <span class="text-danger" *ngIf="signupForm.controls['name'].dirty &&signupForm.hasError('required','name')">*Name is required</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email Id is required</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
              <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">Password Id is required</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
              <input formControlName="cpassword" type="password" class="form-control" id="exampleInputPassword2">
              <span class="text-danger" *ngIf="signupForm.controls['cpassword'].dirty && signupForm.hasError('required','password')">Confirm Password Id is required</span>
            </div>
            <button type="submit" [disabled]="!signupForm.valid"   class="btn btn-primary mb-2">Submit</button>
          </form>
          <a style="color: black; margin-top: 10px; text-decoration: none;"routerLink="/login">Already registered? click to Login!</a>
      </div>
    </div>
  </div>
</div>
<app-header></app-header>