
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 
</head>


<section class="features" id="features">

  <h1 class="ribbon"> Our <span>Features</span>  </h1>
      

  
      
  
      <div class="box-container">

      <div class="box">
          <img src="/assets/images/23313665_sl_110520_37650_13.jpg" alt="">
          <h3>New Arrivals</h3>
         
          
      </div>

     
      <div class="box">
          <img src="/assets/images/12083329_Wavy_Bus-16_Single-03.jpg" alt="">
          <h3>Discounts</h3>
          
          
      </div>

      <div class="box">
          <img src="/assets/images/19466810_6134225.jpg" alt="">
          <h3>Easy payments</h3>
          
          
      </div>

  </div>


</section>



<section class="products" id="products">

  <h1 class="ribbon"> Our <span>Products</span> </h1>

  <div class="box-container">

     

          <div class="box">
              <img src="/assets/images/33-modern-beds-that-would-completely-change-your-new-bedroom-0-1249837590.jpg" alt="">
              <h3>Beds</h3>
              <div class="price"> ₹25,000 - ₹90,000 above  </div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a routerLink="/beds" class="btn">Shop now</a>
          </div>

         

          <div class="box">
              <img src="/assets/images/A1.jpg" alt="">
              <h3>Tables</h3>
              <div class="price"> ₹5,000 - ₹35,000 above </div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/tables" class="btn">Shop now</a>
          </div>

          <div class="box">
              <img src="/assets/images/pexels-alexander-zvir-3705539.jpg" alt="">
              <h3>Chairs</h3>
              <div class="price">₹4,000 - ₹20,000 above </div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/chairs" class="btn">Shop now</a>
          </div>

    



  

          <div class="box">
              <img src="/assets/images/pexels-pixabay-276566.jpg" alt="">
              <h3>Sofas</h3>
              <div class="price"> ₹10,000 - ₹50,000 above </div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/sofas" class="btn">Shop now</a>
          </div>

          <div class="box">
              <img src="/assets/images/wardrobe-design_1627381006029.jpg" alt="">
              <h3>Cupboards</h3>
              <div class="price">₹15,000 - ₹85,000 above</div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/cupboards" class="btn">Shop now</a>
          </div>

          <div class="box">
              <img src="/assets/images/180lyf_900x.jpg" alt="">
              <h3>Dressing Tables</h3>
              <div class="price"> ₹20,000 - ₹68,000 above  </div>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <a href="/dressers" class="btn">Shop now</a>
          </div>

          

      

  </div>


</section>



<section class="categories" id="categories">

  <h1 class="ribbon"> Product <span>Categories</span> </h1>

  <div class="box-container">

      <div class="box">
          <img src="/assets/images/pexels-vecislavas-popa-1643383.jpg" alt="">
          <h3>Living Room</h3>
          <p>Sink into comfort</p>
          <a href="/lr" class="btn">View</a>
      </div>

      <div class="box">
          <img src="/assets/images/pexels-level-media-3016430.jpg" alt="">
          <h3>Kitchen</h3>
          <p>Live life with a little spice</p>
          <a href="/kitchen" class="btn">View</a>
      </div>

      <div class="box">
          <img src="/assets/images/pexels-pixabay-164595.jpg" alt="">
          <h3>Bed Room</h3>
          <p>sweet dreams</p>
          <a href="/bedroom" class="btn">View</a>
      </div>

      

  </div>

</section>


<section class="review" id="review">

  <h1 class="ribbon"> Customer's <span>Review</span> </h1>

  <div class="box-container">
    

     

          <div class="box">
              <img src="/assets/images/beni.jpeg" alt="">
              <p>This site definitely  appeals to the average person because the layout is so  simple  but very  VERY  effective.  It is a clean  site  with a flawless  look, and someone  without any  technical  background  would
              definitely  appreciate  it.</p>
              <h3>Mary Benita</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>

          <div class="box">
              <img src="/assets/images/jo.jpeg" alt="">
              <p>The design is very  professional and well done.  I love the washed-out
                  image of the  globe on the left  behind  the  links.  The  site  feels
                  great the professional feel of the site.  There are minimum
                  graphics,  and the  graphics  there are small  and  fast-loading.</p>
              <h3>Jothika</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>

          <div class="box">
              <img src="/assets/images/abi.jpeg" alt="">
              <p>This site would appeal to anyone, technical background or not, because
                  it is simple and very  effective.  The  washed-out  image tiled in the
                  background is very welcoming and would appeal to anyone.
                  The layout is very nice- I especially  like the purples which created.</p>
              <h3>Abinaya</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>

          <div class="box">
              <img src="/assets/images/kowsi.jpeg" alt="">
              <p>The color scheme is effective  but should be used more around the site
                  so you can show it off and also liven up the site.  The content  flows
                  well because  everything  is in the  appropriate  place and it is very
                  easy to read- the less huge chunks of text, the better!</p>
              <h3>Kowsalya</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>
          <div class="box">
              <img src="/assets/images/mouni.jpeg" alt="">
              <p>The design is very  professional and well done.  I love the washed-out
                  image of the  globe on the left  behind  the  links.  The  site  feels
                  great the professional feel of the site.  There are minimum
                  graphics,  and the  graphics  there are small  and  fast-loading.</p>
              <h3>Mouniga</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>
          <div class="box">
              <img src="/assets/images/sista.jpeg" alt="">
              <p>This site definitely  appeals to the average person because the layout is so  simple  but very  VERY  effective.  It is a clean  site  with a flawless  look, and someone  without any  technical  background  would
                  definitely  appreciate  it.</p>
              <h3>Kaviya</h3>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
          </div>

      

  </div>

</section>



<section class="blogs" id="blogs">

  <h1 class="ribbon"> Our <span>Blogs</span> </h1>

  <div class="box-container">

      <div class="box">
          <img src="/assets/images/Mid-century-modern-design-inspiration.jpg" alt="">
          <div class="content">
              <div class="icons">
                  <a href="#"> <i class="fas fa-user"></i> By User </a>
                  <a href="#"> <i class="fas fa-calendar"></i> 1st May, 2021 </a>
              </div>
              <h3>New arrivals of MueblesPick</h3>
              <p>The Glam Look has experienced a slight makeover this year. Instead, homeowners are leaning toward softer finishes, infusions of color, and luxurious components that bring a room together with classically inspired details and classy look.</p>
              <a href="#" class="btn">Read more</a>
          </div>
      </div>

      <div class="box">
          <img src="/assets/images/Style-quiz-interior-design-room-collage-1.jpg" alt="">
          <div class="content">
              <div class="icons">
                  <a href="#"> <i class="fas fa-user"></i> By User </a>
                  <a href="#"> <i class="fas fa-calendar"></i> 1st December, 2021 </a>
              </div>
              <h3>New arrivals of MueblesPick</h3>
              <p>The Glam Look has experienced a slight makeover this year. Gone are the stark colors of 2018 and shiny finishes.Instead, homeowners are leaning toward softer finishes, infusions of color, and luxurious components that bring a room together</p>
              <a href="#" class="btn">Read more</a>
          </div>
      </div>

      <div class="box">
          <img src="/assets/images/1485441039-happy-house-london-fields-studio-hopwood-collage.jpg" alt="">
          <div class="content">
              <div class="icons">
                  <a href="#"> <i class="fas fa-user"></i> By User </a>
                  <a href="#"> <i class="fas fa-calendar"></i> 1st June, 2022 </a>
              </div>
              <h3>New arrivals of MueblesPick</h3>
              <p>The Glam Look has experienced a slight makeover this year. Gone are the stark colors of 2016 and shiny finishesand luxurious components that bring a room together with classically inspired details.</p>
              <a href="#" class="btn">Read more</a>
          </div>
      </div>

  </div>

</section>
<app-header></app-header>
<app-footer></app-footer>

